/* src/components/Footer.css */
footer {
  background-color: #333; /* Темный цвет фона */
  color: white; /* Цвет текста */
  text-align: center; /* Центрируем текст */
  padding: 20px; /* Отступы */
  bottom: 0; /* Прикрепляем футер к низу страницы */
  left: 0; /* Прикрепляем футер к левому краю */
  width: 100%; /* Ширина на всю страницу */
  z-index: 1000; /* Устанавливаем высокий z-index, чтобы футер был поверх других элементов */
}

p {
  margin: 0; /* Убираем отступы у параграфа */
  font-size: 1rem; /* Размер шрифта */
}

a {
  color: #ffcc00; /* Цвет ссылок */
  text-decoration: none; /* Убираем подчеркивание */
}

a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}
